body.login {
    background-color: black;
    color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.login-container {
    display: flex;
    flex-direction: column;
    width: 300px; /* Adjust width as needed to fit the design */
}

.form-group {
    margin-bottom: 20px;
    width: 100%; /* Ensures all form groups take full width of the login container */
}

input, button {
    width: 100%; /* Makes input fields and button take full width of their parent .form-group */
    padding: 8px;
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}

input {
    background-color: transparent;
    color: green;
    border: 1px solid green;
}

button {
    background-color: green;
    color: black;
    border: none;
    cursor: pointer;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
}

.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.input-error {
    background-color: red;
}
